.form{
    align-items: center;
    height: auto;
    width: 205px;
    margin: 0px 0px 0px 0px;
    background-color: #3d4345;
    text-align: center;
    border-top-left-radius: 0.2cm;
    border-bottom-left-radius: 0.2cm;
    border-bottom-right-radius: 0.2cm;
    border-top-right-radius: 0.2cm;
}
.text{
    background-color: #2b3031;
    color:#E2F1ED;
    font-size:xx-large;
    font-variant: initial;
    font-style: oblique;
    text-decoration: none;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
input[type=text] {
  font-size: xx-small;
  border-color: #3d434500;
  border-top-left-radius: 0.1cm;
  border-bottom-left-radius: 0.1cm;
  border-bottom-right-radius: 0.1cm;
  border-top-right-radius: 0.1cm;
}
input[type=password] {
  font-size: xx-small;
  border-color: #3d434500;
  border-top-left-radius: 0.1cm;
  border-bottom-left-radius: 0.1cm;
  border-bottom-right-radius: 0.1cm;
  border-top-right-radius: 0.1cm;
}

input[type=email] {
  font-size: xx-small;
  border-color: #3d434500;
  border-top-left-radius: 0.1cm;
  border-bottom-left-radius: 0.1cm;
  border-bottom-right-radius: 0.1cm;
  border-top-right-radius: 0.1cm;
}

input[type=submit] {
  font-size: xx-small;
  height: fit-content;
  border-color: #3d434500;
  border-top-left-radius: 0.3cm;
  border-bottom-left-radius: 0.3cm;
  border-bottom-right-radius: 0.3cm;
  border-top-right-radius: 0.3cm;
  background-color: rgb(0, 145, 255);
  color:#E2F1ED;
  box-shadow: 0 0 7px rgb(79, 147, 181);
}

a.links{
  font-size: x-small;
  color: #E2F1ED;
  text-align: center;
  align-self:baseline;
}

fieldset {
    width:fit-content;
    font-size: small;
    font: lighter;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #3d4345;
    margin:auto;
    padding: center;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
    align-self:center;
  }
  legend {
    text-align: center;
    align-items: center;
    color:aliceblue;
    padding: 2px 4px;
    background: #3d434500;
    /* For better legibility against the box-shadow */
  }
  fieldset > legend {
    float: center;

  }
  fieldset > legend + * {
    clear: both;
  }

