.form{
    align-items: center;
    height: auto;
    width: 205px;
    margin: 0px 0px 0px 0px;
    background-color: #3d4345;
    text-align: center;
    border-top-left-radius: 0.2cm;
    border-bottom-left-radius: 0.2cm;
    border-bottom-right-radius: 0.2cm;
    border-top-right-radius: 0.2cm;
}
.text{
    background-color: #2b3031;
    color:#E2F1ED;
    font-size:xx-large;
    font-variant: initial;
    font-style: oblique;
    text-decoration: none;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
input[type=text] {
  font-size: xx-small;
  border-color: #3d434500;
  border-top-left-radius: 0.1cm;
  border-bottom-left-radius: 0.1cm;
  border-bottom-right-radius: 0.1cm;
  border-top-right-radius: 0.1cm;
}
input[type=password] {
  font-size: xx-small;
  border-color: #3d434500;
  border-top-left-radius: 0.1cm;
  border-bottom-left-radius: 0.1cm;
  border-bottom-right-radius: 0.1cm;
  border-top-right-radius: 0.1cm;
}

input[type=email] {
  font-size: xx-small;
  border-color: #3d434500;
  border-top-left-radius: 0.1cm;
  border-bottom-left-radius: 0.1cm;
  border-bottom-right-radius: 0.1cm;
  border-top-right-radius: 0.1cm;
}

input[type=submit] {
  font-size: xx-small;
  height: fit-content;
  border-color: #3d434500;
  border-top-left-radius: 0.3cm;
  border-bottom-left-radius: 0.3cm;
  border-bottom-right-radius: 0.3cm;
  border-top-right-radius: 0.3cm;
  background-color: rgb(0, 145, 255);
  color:#E2F1ED;
  box-shadow: 0 0 7px rgb(79, 147, 181);
}

a.links{
  font-size: x-small;
  color: #E2F1ED;
  text-align: center;
  align-self:baseline;
}

@keyframes border-color {
  0%   {border-color: red;}
  10%   {border-color: orange;}
  20%   {border-color: yellow;}
  30%   {border-color: yellowgreen;}
  40%   {border-color: green;}
  50%   {border-color: cyan;}
  60%   {border-color: blue;}
  70%   {border-color: violet;}
  80%   {border-color: purple;}
  90%   {border-color: black;}
  100%   {border-color: red;}
}

@keyframes box-shadow {
  0%   {box-shadow: 0 0 10px red;}
  10%   {box-shadow: 0 0 10px orange;}
  20%   {box-shadow: 0 0 10px yellow;}
  30%   {box-shadow: 0 0 10px yellowgreen;}
  40%   {box-shadow: 0 0 10px green;}
  50%   {box-shadow: 0 0 10px cyan;}
  60%   {box-shadow: 0 0 10px blue;}
  70%   {box-shadow: 0 0 10px violet;}
  80%   {box-shadow: 0 0 10px purple;}
  90%   {box-shadow: 0 0 10px black;}
  100%   {box-shadow: 0 0 10px red;}
}

fieldset {
    width:fit-content;
    font-size: small;
    font: lighter;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #3d4345;
    margin:auto;
    padding-top: 10px;
    align-self:center;
    padding: center;
    border-radius: 4px;
    animation-name: border-color;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px #666;
  }
  legend {
    text-align: center;
    align-items: center;
    color:aliceblue;
    padding: 2px 4px;
    background: #3d434500;
    /* For better legibility against the box-shadow */
  }
  fieldset > legend {
    float: center;

  }
  fieldset > legend + * {
    clear: both;
  }

