
body{
max-height: 100px;
background-size: auto;
background-repeat: no-repeat;
background-size: cover;
margin:0;
padding:0;	
font-family: 'Lato', sans-serif;
}

.conteudo__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.conteudo__backgorund__imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div{
  background-color: rgba(0, 0, 0, 0.450);
}

div a {
  background-color: rgba(0,0,0,0);
  text-decoration: none;
  color: white;
  font-size: 20px;
  display:inline-block;
  position:flex;
  top:100px;
}
ul {
  display: inline;
  margin: 0;
  padding: 0px;
}
ul li {display: inline-block;}

ul dd li:hover ul {display: block;}
ul dd li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  top:20px;
  background: rgba(10,10,10,0.400); 
  display: block; 
}

ul dd li a:hover{
  width:80%;
}

ul dd li {
  position:relative;
}

ul li ul li:hover{
display: block; 
}